@use "sass:math";

%span {
    width: auto;
    max-width: none;
}

@for $i from 1 through $layout-columns {
    .span-#{$i} {
        grid-column: span $i;
        @extend %span;
    }
}

$s: math.div(($layout-width - $layout-width-min), $layout-columns);
@for $i from $layout-columns to 1 {
    $k: $i - 1;
    @media only screen {
        @media (max-width: round($layout-width - ($layout-columns - $k) * $s)) {
            .grid {
                grid-template-columns: repeat($k, minmax(0, 1fr));

                > %span-#{$i} {
                    grid-column: span $k;
                }
            }

            @for $j from $i through $layout-columns {
                .span-#{$j} {
                    @extend %span-#{$i};
                }
            }
        }
    }
}