{{#> base main-partial-block=true title=title}}

    <nav>
        {{#each pages}}
            <div>
                <a href="/{{this}}.html">{{this}}</a>
            </div>
        {{/each}}
    </nav>

{{/base}}