{{#> base main-partial-block=true title=title}}

    <div class="lattice">
        <div>1</div>
        <span>2</span>
        <span>3</span>
        <span>2<br/>5</span>
        <div>5</div>
    </div>

    <div class="layout-3-9">
        <aside>
            sidebar
        </aside>
        <section class="flex">
            <h1>HOME</h1>
            <button class="btn">Press OK</button>
            <button class="btn">Press OK</button>
            <button class="btn">Press OK</button>
        </section>
        <h3>row</h3>
        <div class="row">
            <div>1</div>
            <span>2</span>
            <span>3</span>
            <span>2<br/>5</span>
            <div>5</div>
        </div>
        <h3>row</h3>
        <div class="row">
            <div class="head">1</div>
            <span class="body">2</span>
            <div class="foot">5<br/>6</div>
        </div>
        <h3>col</h3>
        <div class="col">
            <div>1</div>
            <span>2</span>
            <span>3</span>
            <div>4</div>
            <div>5</div>
        </div>
        <h3>bar</h3>
        <div class="bar">
            <div>1</div>
            <span>2<br/>5</span>
            <span>3</span>
            <div>4</div>
            <div>5</div>
        </div>
        <h3>bar</h3>
        <div class="bar">
            <div class="head">1</div>
            <div class="head">1</div>
            <span class="body">2fgdfgdg dfggrgaaaaaaaaaaaaaaaaaaaaaaaaaaaaavzs</span>
            <div class="foot">5</div>
            <div class="foot">5</div>
        </div>
        <h3>list</h3>
        <div class="list">
            <div>1</div>
            <span>2<br/>5</span>
            <span>3</span>
            <div>
                <span>4</span>
                <span>4</span>
                <span>4</span>
            </div>
            <div>5</div>
        </div>
    </div>

{{/base}}