<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    <meta content="application/json" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="#000000" name="theme-color"/>
    <meta content="Web Framework" name="description"/>
    <meta content="html,css,js,javascript" name="keyword"/>
    <meta content="index, follow" name="robots"/>
    <meta content="browserconfig.xml" name="msapplication-config"/>
    <link href="static/media/logo192x192.png" rel="apple-touch-icon"/>
    <link href="favicon.ico" rel="icon"/>
    <link href="manifest.json" rel="manifest"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<H1><%= htmlWebpackPlugin.options.title %></H1>

<h3>row</h3>
<div class="row">
    <div>1</div>
    <span>2</span>
    <span>3</span>
    <span>2<br/>5</span>
    <div>5</div>
</div>
<h3>row</h3>
<div class="row">
    <div class="head">1</div>
    <span class="body">2</span>
    <div class="foot">5<br/>6</div>
</div>
<h3>col</h3>
<div class="col">
    <div>1</div>
    <span>2</span>
    <span>3</span>
    <div>4</div>
    <div>5</div>
</div>
<h3>bar</h3>
<div class="bar">
    <div>1</div>
    <span>2<br/>5</span>
    <span>3</span>
    <div>4</div>
    <div>5</div>
</div>
<h3>bar</h3>
<div class="bar">
    <div class="head">1</div>
    <div class="head">1</div>
    <span class="body">2fgdfgdg dfggrgaaaaaaaaaaaaaaaaaaaaaaaaaaaaavzs</span>
    <div class="foot">5</div>
    <div class="foot">5</div>
</div>
<h3>list</h3>
<div class="list">
    <div>1</div>
    <span>2<br/>5</span>
    <span>3</span>
    <div>
        <span>4</span>
        <span>4</span>
        <span>4</span>
    </div>
    <div>5</div>
</div>

</body>
</html>
