{{#> app app-partial-block=true title=title}}
    {{> header}}
    {{#> main main-partial-block=true}}

        <h3>Shrink</h3>
        <section class="grid-12 shrink-2 outline">
            {{#each debugGrid}}
                <div>{{this}}</div>
            {{/each}}
        </section>

        <section class="grid-12 shrink outline">
            {{#each debugGrid}}
                <div>{{this}}</div>
            {{/each}}
        </section>

        <section class="grid-11 shrink outline">
            {{#each debugGrid}}
                <div>{{this}}</div>
            {{/each}}
        </section>

    {{/main}}
    {{> footer}}
{{/app}}