{{#> app app-partial-block=true title=title}}
    {{> header}}
    {{#> main main-partial-block=true}}

        <h3>Shrink</h3>
        <section class="grid-12 shrink outline">
            {{#each debugGrid}}
                <div>{{this}}</div>
            {{/each}}
        </section>

        <h3>Tile</h3>
        <section class="tile-3 gap col-12 outline">
            {{#each debugGrid}}
                <div>{{this}}</div>
            {{/each}}
        </section>

    {{/main}}
    {{> footer}}
{{/app}}