{{#> app app-partial-block=true title=title}}
    {{> header}}
    {{#> main main-partial-block=true}}
        <h1>Select</h1>

        <div class="dropdown select-custom">
            <div class="toggle">Option 3</div>
            <nav class="menu">
                <a class="item" href="/#">Option 1</a>
                <a class="item" href="/#">Option 2</a>
            </nav>
            <label>
                <select class="select-custom">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option selected>Option 3</option>
                </select>
            </label>
        </div>

        <div class="select-custom"></div>

        <label>
            <select class="select-custom">
                <option>Option 1</option>
                <option>Option 2</option>
                <option selected>Option 3</option>
            </select>
        </label>

    {{/main}}
    {{> footer}}
{{/app}}