.lattice {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 40px;
    grid-auto-rows: 40px;

    width: 100%;
    height: 500px;
}

%grid {
    display: grid;
}

.row {
    @extend %grid;
    grid-auto-flow: column;
    align-items: start;

    >* {
        @extend %grid;
        //outline: 2px solid red;
    }

    >.head {
        justify-items: start;
    }

    >.body {
        justify-items: center;
    }

    >.foot {
        justify-items: end;
    }
}

.col {
    @extend %grid;
    grid-auto-flow: row;

    /*>* {
        //@extend %grid;
        //outline: 2px solid green;
    }*/
}

.bar {
    @extend .row;
    align-items: center;

    >* {
        //@extend %grid;
        align-items: center;
    }
}

.list {
    //@include list;
    @extend .col;
    //grid-auto-rows: max-content;

    /*>* {
        //outline: 2px solid blue;
        //height: 50px;
    }*/

    /*> * {
        @extend .bar;
    }*/
}

// Layout 12 columns
.layout-3-9 {
    @extend %grid;
    grid-template-columns: 3fr 9fr;
}

.layout-4-8 {
    @extend %grid;
    grid-template-columns: 4fr 8fr;
}

.layout-6-6,
.layout-6x2 {
    @extend %grid;
    grid-template-columns: repeat(2, 6fr);
}

.layout-2-8-2 {
    @extend %grid;
    grid-template-columns: 2fr 8fr 2fr;
}

.layout-3-8-3 {
    @extend %grid;
    grid-template-columns: 3fr 6fr 3fr;
}

.layout-4x3 {
    @extend %grid;
    grid-template-columns: repeat(3, 4fr);
}

.layout-3x4 {
    @extend %grid;
    grid-template-columns: repeat(4, 3fr);
}

/*
@for  {

}*/