//**********************************************************
// Root
//**********************************************************

* {
    position: relative;
}

*,
:before,
:after,
::before,
::after {
    box-sizing: border-box;
    outline:    0 none;
}

/*
html {
    font-size: var(--html-font-size);
    line-height: 1;
    //height: 100vh;
}

body {
    //background-color: white;
    //color: var(--color-dark);
    font-size: 1rem;
    line-height: 2rem;
    //min-height: 100vh;
    //margin: 0;
    //overflow-x: hidden;
    //z-index: var(--zindex-body);
}*/

html {
    font-size:   $unit;
    line-height: 1;
    height:      100vh;
}

body {
    font-family: $font-family;
    font-size:   1rem;
    font-weight: 300;
    line-height: 2rem;
    min-height:  100vh;
    margin:      0;
    overflow-x:  hidden;
    z-index:     1;
}

body,
input,
textarea,
select {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}