// Application
#app {
    @extend %display-grid;
    @extend %grid-gap-0;
    grid-template-rows:    auto 1fr;
    grid-template-columns: 100%;
    grid-auto-flow:        row;
    grid-auto-rows:        auto;
    min-height:            100vh;
    z-index:               $zindex_app;

    @extend .sticker;
}

// Container
.app-container {
    @extend .layout, .grid-12;
}

// Header
.app-header {
    .navbar {
        @extend .bar, .col-6;
    }
}

// Footer
.app-footer {

}

// Debug
.outline > * {
    outline: 1px solid #ddd;
}

.row-test {
    @extend .row, .outline;

    > :first-child {
        @extend .col-b10-3, .col-b9-5, .col-b8-6;
    }
}