//**********************************************************
// Variables
//----------------------------------------------------------
//
//**********************************************************

$prefix: "";

// Path
$fonts: "../fonts/";
$media: "../media/";

// Z-index
$zindex_app: 100;
$zindex_main: 200;
$zindex_content: 300;
$zindex_sidebar: 400;
$zindex_footer: 500;
$zindex_header: 600;

:root {
    /* Debug */
    --app: 42;
}
