@use "sass:color";

// Color variables
$blue:      #0009e1 !default;
$indigo:    #6610f2 !default;
$purple:    #6f42c1 !default;
$pink:      #d63384 !default;
$red:       #ff0000 !default;
$orange:    #fd7e14 !default;
$yellow:    #ffa900 !default;
$green:     #198754 !default;
$teal:      #20ff6c !default;
$cyan:      #20a1ff !default;

// Theme color variables
$primary:   #f8bb44 !default;
$secondary: #ebebeb !default;
$accent:    #ebebeb !default;
$success:   #198754 !default;
$info:      #20a1ff !default;
$warning:   #ffd582 !default;
$danger:    #ff6464 !default;
$light:     #f8f9fa !default;
$dark:      #212529 !default;

//$color-primary: (
//            &: $primary,
//            dark: #f8bb44,
//            light: #f8bb44,
//            font: white,
//);

// Body
//$body-bg:                #fff;
//$body-color:             #000;
// Body
//$body-bg:    #fff;
//$body-color: #000;

//@mixin theme {
//    // Colors
//    --color-primary:          #f8bb44;
//    --color-primary-dark:     #f8bb44;
//    --color-primary-light:    #f8bb44;
//    --color-primary-font:     white;
//
//    --color-secondary:        #ebebeb;
//    --color-secondary-dark:   #668630;
//    --color-secondary-light:  #96cb4b;
//    --color-secondary-font:   white;
//
//    --color-accent:           #725ac1;
//    --color-accent-dark:      #3e3167;
//    --color-accent-light:     #9374f8;
//    --color-accent-font:      white;
//
//    --color-info:             #20a1ff;
//    --color-info-dark:        #3e3167;
//    --color-info-light:       #9374f8;
//    --color-info-font:        white;
//
//    --color-success:          #198754;
//    --color-success-dark:     #167c24;
//    --color-success-light:    #5cd06d;
//    --color-success-font:     white;
//
//    --color-warning:          #ffd582;
//    --color-warning-dark:     #deaa1f;
//    --color-warning-light:    #ffd562;
//    --color-warning-font:     black;
//
//    --color-error:            #ff6464;
//    --color-error-dark:       #c4465e;
//    --color-error-light:      #ff6381;
//    --color-error-font:       white;
//
//    --color-grey:             #aaa;
//    --color-dark:             #222;
//    --color-light:            #eee;
//}

// Reset
hr {
    border-top-color: #cccccc;
}

::selection {
    background-color: #b3d4fc;
}

mark {
    background-color: #f9ff6a;
}

pre {
    color: #cccccc;
}

code {
    color: black;
}

kbd {
    color:            black;
    border-radius:    3px;
    background-color: #f5f5f5;
}

caption {
    color: black;
}
