//@use "sass:meta";

// Color variables
$blue: #0009e1;
$blue2: #3055d6;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #ff0000;
$orange: #fd7e14;
$yellow: #ffa900;
$green: #198754;
$teal: #20ff6c;
$cyan: #20a1ff;

// Theme color variables
$primary: #f8bb44;
$secondary: #ebebeb;
$success: #198754;
$info: $cyan;
$warning: #ffd582;
$danger: #ff6464;
$light: #f8f9fa;
$dark: #212529;

// Body
$body-bg: #fff;
$body-color: #000;

//
$font-family-: Menlo, Consolas, "Courier New", monospace;
$font-family-monospace: Menlo, Consolas, "Courier New", monospace;

/*@font-face {
  font-family: "Futura";
  src: url("../../fonts/futura/futura.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}*/

/*@font-face {
  font-family: "FuturaLight";
  src: url("../../fonts/futura/futura_light_bt.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}*/

// CSS color variables
:root {
    --color-primary: #f8bb44;
    --color-primary-dark: darken(var(--color-primary), 40%);
    --color-primary-light: lighten(var(--color-primary), 40%);
    --color-primary-font: white;

    --color-secondary: $secondary;
    --color-secondary-dark: #668630;
    --color-secondary-light: #96cb4b;
    --color-secondary-font: white;

    --color-accent: #725ac1;
    --color-accent-dark: #3e3167;
    --color-accent-light: #9374f8;
    --color-accent-font: white;

    --color-info: $info;
    --color-info-dark: #3e3167;
    --color-info-light: #9374f8;
    --color-info-font: white;

    --color-success: $success;
    --color-success-dark: #167c24;
    --color-success-light: #5cd06d;
    --color-success-font: white;

    --color-warning: $warning;
    --color-warning-dark: #deaa1f;
    --color-warning-light: #ffd562;
    --color-warning-font: black;

    --color-error: $danger;
    --color-error-dark: #c4465e;
    --color-error-light: #ff6381;
    --color-error-font: white;

    --color-grey: #aaa;
    --color-dark: #222;
    --color-light: #eee;

    //--font-family-monospace: #{meta.inspect($font-family-monospace)};
}