// Footer
.app-footer {
    //width:     100%;
    //max-width: $container_width;
    background-color: #b3d4fc;

    > .app-container {
        min-height: $footer_height;
        @extend %padding-top, %padding-bottom;
    }

    @extend %app-container;

    /*@media only screen and (max-width: $container_width) {
        max-width: inherit;
        overflow-x: hidden;
    }*/
}
