// Configuration
@import "themes/default/light";
@import "themes/default/dark";
@import "variables";

// Jettix
@import "jettix";
@import "../../../../lib/scss/debug";

// Application
#app {
    background-color: #cccccc;
    @extend %jx-app, %jx-debug-sticker;
}

// Container
.app-container {
    @extend %jx-container /*, %jx-grid-12*/
;
}

// Main
.app-main {
    @extend %jx-main;
    background-color: white;

    > .app-container {
        display: grid;
        align-content: start;
        min-height:    $main_height;
    }
}

// Header
.app-header {
    @extend %jx-header;
    background-color: burlywood;
    //position: sticky;
    //top:      0;

    > .app-container {
        min-height: $header_height;
        align-items: center;
    }
}

// Footer
.app-footer {
    @extend %jx-footer;
    background-color: #b3d4fc;

    > .app-container {
        min-height: $footer_height;
    }
}

// Debug
.outline > * {
    outline: 1px solid #dddddd;
}

.row-test {
    @extend %jx-row, .outline;

    > :first-child {
        @extend %jx-col-b10-3, %jx-col-b9-5, %jx-col-b8-6;
    }
}
