// Header
.app-header {
    //position: sticky;
    //top:      0;

    background-color: burlywood;

    > .app-container {
        //@extend %debug-layout;
    }

    &,
    > .app-container {
        align-items: center;
        min-height: $header_height;
    }
}
