// Header
.app-header {
    position: sticky;
    top: 0;

    > .app-container {
        //@extend %debug-layout;
    }

    &,
    > .app-container {
        align-items: center;
        min-height: $header_height;
    }

    .head {
    }

    .body {
    }

    .foot {
    }

    .title {
    }
}
