<header class="app-header">
    <div class="app-container">
        <h1>Jettix</h1>
        <nav class="navbar">
            {{#each page}}
                <a href="{{this.url}}">{{this.title}}</a>
            {{/each}}
        </nav>
    </div>
</header>
