<header class="app-header">
    <div class="app-container">
        <h1>Header</h1>
        <nav>
            <a href="/">Home</a>
            {{#each page}}
                <div>
                    <a href="{{this.url}}">{{this.title}}</a>
                </div>
            {{/each}}
        </nav>
    </div>
</header>
