//**********************************************************
// Commons
//----------------------------------------------------------
//
//**********************************************************

// Offcanvas
//----------------------------------------------------------
// .out
// .out-[top | bottom | left | right]
// .in
//**********************************************************
%#{$prefix}out,
.#{$prefix}out {
    @each $side in $list_sides {
        &, &-#{$side} {
            @extend %#{$prefix}position-fixed;
        }
    }

    &-top {
        top:    -100vh;
        bottom: 100vh;
    }

    &-bottom {
        top:    100vh;
        bottom: -100vh;
    }

    &, &-left {
        left:  -100vw;
        right: 100vw;
    }

    &-right {
        left:  100vw;
        right: -100vw;
    }
}

%#{$prefix}in,
.#{$prefix}in {
    position: initial;
    top:      auto;
    right:    auto;
    bottom:   auto;
    left:     auto;
}

//
//----------------------------------------------------------
// .on / .off
// .show / .hide
//**********************************************************
%#{$prefix}off,
.#{$prefix}off,
%#{$prefix}hide,
.#{$prefix}hide {
    @extend %#{$prefix}position-fixed;
    z-index: -1;
}

%#{$prefix}on,
.#{$prefix}on,
%#{$prefix}show,
.#{$prefix}show {
    position: initial;
    z-index:  auto;
}

%#{$prefix}hide,
.#{$prefix}hide {
    animation: hide .3s linear;
    opacity:   0;
}

%#{$prefix}show,
.#{$prefix}show {
    opacity: initial;
}

%#{$prefix}hide,
.#{$prefix}hide,
%#{$prefix}show,
.#{$prefix}show {
    transition: opacity .3s linear;
}

@keyframes hide {
    from {
        position: initial;
        z-index:  auto;
    }

    to {
        position: fixed;
        z-index:  -1;
    }
}

//a {
//    background-color: yellow;
//
//    &:link {
//        background-color: red;
//    }
//    &:focus {
//        background-color: red;
//        &-within {
//        }
//        &-visible {
//        }
//    }
//    &:target {
//        background-color: green;
//    }
//    &:visited {
//        background-color: green;
//    }
//    &:hover {
//        background-color: orange;
//    }
//    &:active {
//        background-color: blue;
//    }
//}

//.#{$prefix}unstyled {
//    list-style: none outside none;
//}
//
//.#{$prefix}unstyle {
//    > li {
//        list-style-type: none;
//    }
//}
