//**********************************************************
// Commons
//----------------------------------------------------------
//
//**********************************************************

// Offcanvas
//----------------------------------------------------------
// .%out
// .%out-[top | bottom | left | right]
// .%in
//**********************************************************
#{JX(out)} {
    @each $side in $list_sides {
        &, &-#{$side} {
            position: fixed;
        }
    }

    &-top {
        top:    -100vh;
        bottom: 100vh;
    }

    &-bottom {
        top:    100vh;
        bottom: -100vh;
    }

    &, &-left {
        left:  -100vw;
        right: 100vw;
    }

    &-right {
        left:  100vw;
        right: -100vw;
    }
}

#{JX(in)} {
    position: initial;
    top:      auto;
    right:    auto;
    bottom:   auto;
    left:     auto;
}

// On / Off
//----------------------------------------------------------
// .%on
// .%off
//**********************************************************
@mixin off {
    display: none;
}

@mixin on {
    display: initial;
}

#{JX(off)} {
    @include off;
}

#{JX(on)} {
    @include on;
}

// Show / Hide
//----------------------------------------------------------
// .%show
// .%hide
//**********************************************************
$duration: .3s;

@mixin hide {
    position:  fixed;
    z-index:   -1;
    opacity:   0;
    animation: hide $duration linear;
}

@mixin show {
    position: initial;
    z-index:  auto;
    opacity:  initial;
}

#{JX(hide)} {
    @include hide;
}

#{JX(show)} {
    @include show;
}

#{JX(hide, "%")}, [class*=#{JX(hide, "")}],
#{JX(show, "%")}, [class*=#{JX(show, "")}] {
    transition: opacity $duration linear;
}

@keyframes hide {
    from {
        position: initial;
        z-index:  auto;
    }

    to {
        position: fixed;
        z-index:  -1;
    }
}

//a {
//    background-color: yellow;
//
//    &:link {
//        background-color: red;
//    }
//    &:focus {
//        background-color: red;
//        &-within {
//        }
//        &-visible {
//        }
//    }
//    &:target {
//        background-color: green;
//    }
//    &:visited {
//        background-color: green;
//    }
//    &:hover {
//        background-color: orange;
//    }
//    &:active {
//        background-color: blue;
//    }
//}

//.#{$prefix}unstyled {
//    list-style: none outside none;
//}
//
//.#{$prefix}unstyle {
//    > li {
//        list-style-type: none;
//    }
//}
