//**********************************************************
// Functions
//----------------------------------------------------------
//
//**********************************************************
@use "sass:math";
@use "sass:list";

// Locator
//----------------------------------------------------------
// ".%" or "%." - class & placeholder
// "#"          - id
// "."          - class
// "%"          - placeholder
// ""           - without locator
//**********************************************************
@function JX($selector, $loc: $locator) {
    @if $loc == ".%" or $loc == "%." {
        $list: ();

        @each $value in (".", "%") {
            //@if $value == "%" {
            //    $placeholder: #{$value}#{$prefix}#{$selector};
            //
            //    $list_placeholders: PushPlaceholder($placeholder);
            //}

            $list: list.append($list, #{$value}#{$prefix}#{$selector}, comma);
        }

        @return $list;
    } @else if $loc == "." or $loc == "%" or $loc == "#" or $loc == "" {
        @return #{$loc}#{$prefix}#{$selector};
    }

    @warn "Wrong locator: #{$loc}";
    @return null;
}

// Placeholders
//@function HasPlaceholder($placeholder) {
//    @if list.index($list_placeholders, $placeholder) == null {
//        @return false;
//    }
//
//    @warn "The object already exists: #{$placeholder}";
//    @return true;
//}

//@function PushPlaceholder($placeholder) {
//    @if not HasPlaceholder($placeholder) {
//        @return list.append($list_placeholders, $placeholder);
//    }
//
//    @return null;
//}

// Tile
@function GetMinTileWidth($n) {
    $c: math.div($grid_width, $n);
    $d: $c;

    //$a: $n - 1;
    //$b: $grid_width - $a * $grid_gap;
    //$c: math.div($b, $n);
    //$d: $c * $a;

    //@if math.unit($d) == "px" {
    //    $d: math.round(math.div($d, $n)) + 1;
    //} @else if math.unit($d) == "rem" {
    //    $d: math.div($d, $n) + $px;
    //}

    @return $d;
}

// Breakpoints
@function GetListBreakpoints($is_evenly: false) {
    $list: ();
    $g: $grid_gap;
    $w: 100;

    @if not $is_evenly {
        $w: $w - $container_gap_adaptive * 2;
    }

    @for $i from 1 through $grid_column {
        @if not $is_evenly {
            $g: math.div($i * $grid_col_width, $w) * $container_gap_adaptive;
        }

        $d: $i * $grid_cell_width + ($i + 1) * $g;

        @if math.unit($d) == "px" {
            $d: math.round($d) - 1;
        } @else if math.unit($d) == "rem" {
            $d: $d - $px;
        }

        $list: list.append($list, $d);
    }

    @return $list;
}

@function GetBreakpoint($n: $grid_column) {
    @return list.nth($list_breakpoints, $n);
}

// Helpers
@function StripUnit($value) {
    @return math.div($value, ($value * 0 + 1));
}

@function PxToRem($value) {
    @if math.unit($value) == "px" {
        @return $px * StripUnit($value);
    }

    @return $value;
}

@function RemToPx($value) {
    @if math.unit($value) == "rem" {
        @return math.round($root_unit * StripUnit($value));
    }

    @return $value;
}