//**********************************************************
// Layout
//----------------------------------------------------------
// %layout
//**********************************************************
//#{JX(layout, "%")} {
//    @extend #{JX(display-flex, "%")};
//}

//@supports (display: grid) {
//    #{JX(layout, "%")} {
//        @extend #{JX(display-grid, "%")};
//        grid-auto-rows: minmax($layout_unit, auto);
//    }
//}

#{JX(layout, "%")} {
    @extend #{JX(display-grid, "%")};
    grid-auto-rows: minmax($layout_unit, auto);
}

// Container
//----------------------------------------------------------
// .%container
//**********************************************************
#{JX(container)} {
    width:        100%;
    max-width:    $container_width;
    margin-right: auto;
    margin-left:  auto;

    @if $container_gap > 0 {
        @if $container_gap == $layout_gap {
            @extend #{JX(padding-left, "%")}, #{JX(padding-right, "%")};
        } @else {
            @include setPropsAdaptive((
                    padding-left: $container_gap,
                    padding-right: $container_gap
            ));
        }
    }
}

// Grid
//----------------------------------------------------------
// .%grid
// .%grid-[1...n]
// .%grid-b[1...n]-[1...n]
//**********************************************************
#{JX(grid)}, [class*=#{JX(grid-, "")}] {
    @extend #{JX(layout, "%")};
    grid-auto-flow: row;
    //align-items:    baseline;

    @if $grid_gap > 0 {
        @extend #{JX(gap, "%")};
    }
}

#{JX(grid-auto-flow, "%")} {
    @each $flow in (row, column, dense) {
        &-#{$flow} {
            grid-auto-flow: $flow;
        }
    }
}

#{JX(grid-child-fit, "%")} {
    @extend #{JX(reset-width, "%")};
    @extend #{JX(margin-0, "%")};
}

// Row
//----------------------------------------------------------
// .%row
// .%row-[1...n]
// .%row-b[1...n]-[1...n]
//**********************************************************
#{JX(row)}, [class*=#{JX(row-, "")}] {
    @extend #{JX(layout, "%")};
    @extend #{JX(grid-child-fit, "%")};
}

#{JX(row)} {
    @extend #{JX(grid-auto-flow-column, "%")};
    //grid-column: 1 / end;
}

[class*=#{JX(row-, "")}] {
    @extend #{JX(grid-auto-flow-dense, "%")};
}

// Bar
//----------------------------------------------------------
// .%bar
//**********************************************************
#{JX(bar)} {
    //@extend %#{$prefix}row;
    //grid-template-columns: repeat(auto-fit, minmax($layout_unit, auto));
    @extend #{JX(layout, "%")};
    align-items:       center;
    grid-auto-flow:    column;
    grid-auto-columns: min-content;
    justify-items:     center;
}

// Column
//----------------------------------------------------------
// .%col
// .%col-[1...n]
// .%col-b[1...n]-[1...n]
//**********************************************************
#{JX(col)} {
    @extend #{JX(layout, "%")};
    @extend #{JX(grid-auto-flow-dense, "%")};
    grid-template-rows: repeat(auto-fit, minmax($layout_unit, auto));
}

// List
//----------------------------------------------------------
// .%list
//**********************************************************
#{JX(list)} {
    @extend #{JX(col, "%")};
}

// Shrink
//----------------------------------------------------------
// .%shrink
//**********************************************************
#{JX(shrink)} {
    @extend #{JX(grid-auto-flow-dense, "%")};
}

// Gap
//----------------------------------------------------------
// .%gap-200
// .%gap-150
// .%gap-100  .%gap
// .%gap-50   .%gap-half
// .%gap-25   .%gap-quart
// .%gap-0
//**********************************************************
#{JX(gap)} {
    @extend #{JX(gap, "%")}; // TODO:

    @each $v in (-half, -quart, -0) {
        &#{$v} {
            @extend #{JX(gap#{$v}, "%")};
        }
    }
}

// Checkpoints
//----------------------------------------------------------
// .%grid-[1...n]
// .%row-[1...n]
// .%col-[1...n]
// .%span-[1...n]
// .%order-[1...n]
//**********************************************************
@for $i from 1 through $grid_column {
    @for $j from 1 through $grid_column {
        #{JX(grid-b#{$i}-#{$j}, "%")} {
            @extend #{JX(grid, "%")};
        }

        #{JX(row-b#{$i}-#{$j}, "%")} {
            @extend #{JX(layout, "%")};
        }
    }

    #{JX(grid-#{$i}, "%")} {
        @extend #{JX(grid, "%")};
    }

    #{JX(grid-#{$i})} {
        grid-template-columns: repeat($i, 1fr);
    }

    #{JX(col-#{$i})},
    #{JX(grid-#{$i})},
    #{JX(grid-#{$i})} > #{JX(grid-child-fit, "%")} {
        grid-column-end: span $i;
    }

    #{JX(span-#{$i})} {
        grid-column-start: $i;
    }

    #{JX(order-#{$i})} {
        order: $i;
    }

    #{JX(row-#{$i}, "%")} {
        @extend #{JX(layout, "%")};
        @extend #{JX(grid-auto-flow-dense, "%")};
        @extend #{JX(grid-child-fit, "%")};
    }

    #{JX(row-#{$i})} {
        grid-template-columns: repeat(auto-fit, minmax(GetMinTileWidth($i), 1fr));

        @each $v in (gap, gap-half, gap-quart) {
            &#{JX($v)} {
                grid-template-columns: repeat(auto-fit, minmax(GetMinTileWidth($i, GetGap($v)), 1fr));
            }
        }
    }
}

// Breakpoints
//----------------------------------------------------------
// .%shrink
// .%grid-b[1...n]-[1...n]
// .%row-b[1...n]-[1...n]
// .%col-b[1...n]-[1...n]
// .%span-b[1...n]-[1...n]
// .%order-b[1...n]-[1...n]
// .%in-b[1...n]
// .%out-b[1...n]
// .%on-b[1...n]
// .%off-b[1...n]
// .%show-b[1...n]
// .%hide-b[1...n]
//**********************************************************
@for $i from $grid_column to 0 {
    @media only screen and (max-width: GetBreakpoint($i)) {
        @include pasteBuffer($i);

        @for $j from 1 through $grid_column {
            #{JX(grid-b#{$i}-#{$j})} {
                grid-template-columns: repeat($j, 1fr);
            }

            #{JX(col-b#{$i}-#{$j})},
            #{JX(grid-b#{$i}-#{$j})},
            #{JX(grid-b#{$i}-#{$j})} > #{JX(grid-child-fit, "%")} {
                grid-column-end: span $j;
            }

            #{JX(span-b#{$i}-#{$j})} {
                grid-column-start: $j;
            }

            #{JX(order-b#{$i}-#{$j})} {
                order: $j;
            }

            #{JX(row-b#{$i}-#{$j})} {
                grid-template-columns: repeat(auto-fit, minmax(GetMinTileWidth($j), 1fr));

                @each $v in (gap, gap-half, gap-quart) {
                    &#{JX($v)} {
                        grid-template-columns: repeat(auto-fit, minmax(GetMinTileWidth($j, GetGap($v)), 1fr));
                    }
                }
            }
        }

        // Shrink
        @if $i < $grid_column {
            $k: $i + 1;

            #{JX(shrink)} {
                &,
                > #{JX(grid-shrink-#{$k}, "%")} {
                    grid-template-columns: repeat($i, 1fr);
                }

                > #{JX(col-shrink-#{$k}, "%")},
                > #{JX(grid-child-fit, "%")} {
                    grid-column-end: span $i;
                }
            }

            @for $j from $k through $grid_column {
                #{JX(grid-#{$j})},
                #{JX(grid-b#{$i}-#{$j})} {
                    @extend #{JX(grid-shrink-#{$k}, "%")};
                }

                #{JX(col-#{$j})},
                #{JX(col-b#{$i}-#{$j})},
                #{JX(grid-#{$j})},
                #{JX(grid-b#{$i}-#{$j})} {
                    @extend #{JX(col-shrink-#{$k}, "%")};
                }
            }
        }

        #{JX(out-b#{$i})} {
            position: fixed;
        }

        #{JX(in-b#{$i})} {
            position: initial;
        }

        #{JX(off-b#{$i})} {
            @include off;
        }

        #{JX(on-b#{$i})} {
            @include on;
        }

        #{JX(hide-b#{$i})} {
            @include hide;
        }

        #{JX(show-b#{$i})} {
            @include show;
        }
    }
}
