//**********************************************************
// Mixins
//----------------------------------------------------------
//
//**********************************************************
@use "sass:map";
@use "sass:list";
@use "sass:math";

@mixin setPlaceholderGap {
    @include setPlaceholderProps(grid-gap, $grid_gap);

    @each $dir in (row, column) {
        @include setPlaceholderProps(grid-#{$dir}-gap, $grid_gap);
    }
}

@mixin setPlaceholderGutter($prop, $gutter) {
    @include setPlaceholderProps($prop, $gutter) {
        @each $side in $list_sides {
            &-#{$side} {
                @include setPropsAdaptive((#{$prop}-#{$side}: $gutter));

                &-half {
                    @include setPropsAdaptive((#{$prop}-#{$side}: math.div($gutter, 2)));
                }

                &-0 {
                    #{$prop}-#{$side}: 0;
                }
            }
        }
    }
}

@mixin setPlaceholderProps($prop, $gutter) {
    %#{$prop} {
        @include setPropsAdaptive((#{$prop}: $gutter));

        &-half {
            @include setPropsAdaptive((#{$prop}: math.div($gutter, 2)));
        }

        &-0 {
            #{$prop}: 0;
        }

        @content;
    }
}

@mixin setPropsAdaptive($props) {
    @each $key, $value in $props {
        @if $value > 0 {
            #{$key}: $value;
        }
    }

    $buffer: ();

    @each $key, $value in $props {
        @if $value > 0 {
            $buffer: map.merge($buffer, (#{$key}: 1vw * $layout_rate * $value));
        } @else {
            $buffer: map.merge($buffer, (#{$key}: 0));
        }
    }

    @include copyBuffer(#{&}, $buffer);
}

// Array of breakpoints buffer
//----------------------------------------------------------
// $list_breakpoints_buffer: [
//     (
//         selector: &,
//         breakpoint: 11,
//         props: (
//             padding-left: 1rem,
//             padding-right: 1rem
//         )
//     ),
//     ...
// ]
//**********************************************************
@mixin copyBuffer($selector, $props, $breakpoint: $grid_column) {
    $buffer:                  (selector: $selector, breakpoint: $breakpoint);

    @each $key, $value in $props {
        $buffer: map.merge($buffer, props, (#{$key}: $value));
    }

    $list_breakpoints_buffer: list.append($list_breakpoints_buffer, $buffer) !global;
}

@mixin pasteBuffer($breakpoint: $grid_column) {
    @each $buffer in $list_breakpoints_buffer {
        @if $breakpoint == map.get($buffer, breakpoint) {
            $selector: map.get($buffer, selector);

            #{$selector} {
                @each $key, $value in map.get($buffer, props) {
                    #{$key}: $value;
                }
            }
        }
    }
}
