//**********************************************************
// Placeholders
//----------------------------------------------------------
//
//**********************************************************

// Gutters
//----------------------------------------------------------
// %grid-gap
// %grid-gap-half
// %grid-gap-0
//**********************************************************
@include setPlaceholderGap;
@include setPlaceholderGutter(margin);
@include setPlaceholderGutter(padding);

// Cursors
%cursor {
    @each $cursor in $list_cursors {
        &-#{$cursor} {
            cursor: $cursor;
        }
    }
}

// Displays
%display {
    @each $display in $list_displays {
        &-#{$display} {
            display: $display;
        }
    }
}

// Fonts
%font {
    &-family {
        &-sans-serif {
            font-family: $font_family_sans_serif;
        }

        &-monospace {
            font-family: $font_family_monospace;
            direction:   ltr;
        }
    }
}

// Typography
%heading {
    @extend %margin-top-0, %margin-bottom-half;
    @extend %grid-child-width;
}

// Helpers
%reset-width {
    width:     auto;
    max-width: none;
}

%grid-child-width {
    @extend %reset-width;

    :first-child > & {
        @extend %margin-top-0;
    }

    :only-child > &,
    :last-child > & {
        @extend %margin-bottom-0;
    }
}