//**********************************************************
// Placeholders
//----------------------------------------------------------
//
//**********************************************************

// Gutters
//----------------------------------------------------------
// %grid-gap       %grid-[row | column]-gap
// %grid-gap-half  %grid-[row | column]-gap-half
// %grid-gap-0     %grid-[row | column]-gap-0
//----------------------------------------------------------
// %margin       %margin-[top | bottom | left | right]
// %margin-half  %margin-[top | bottom | left | right]-half
// %margin-0     %margin-[top | bottom | left | right]-0
//----------------------------------------------------------
// %padding       %padding-[top | bottom | left | right]
// %padding-half  %padding-[top | bottom | left | right]-half
// %padding-0     %padding-[top | bottom | left | right]-0
//**********************************************************
@include setPlaceholderGap;
@include setPlaceholderGutter(margin, $grid_gap);
@include setPlaceholderGutter(padding, $grid_gap);

// Cursors
//----------------------------------------------------------
// %cursor-[default | pointer | help | not-allowed | ...]
//**********************************************************
%#{$prefix}cursor {
    @each $cursor in $list_cursors {
        &-#{$cursor} {
            cursor: $cursor;
        }
    }
}

// Displays
//----------------------------------------------------------
// %display-[none | block | table | flex | grid | ...]
//**********************************************************
%#{$prefix}display {
    @each $display in $list_displays {
        &-#{$display} {
            display: $display;
        }
    }
}

// Fonts
//----------------------------------------------------------
// %font-family-sans-serif
// %font-family-monospace
//**********************************************************
%#{$prefix}font {
    &-family {
        &-sans-serif {
            font-family: $font_family_sans_serif;
        }

        &-monospace {
            font-family: $font_family_monospace;
            direction:   ltr;
        }
    }
}
