//**********************************************************
// Reset
//----------------------------------------------------------
//
//**********************************************************

// Root
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: $root_cell_width;
    height:    100vh;
}

body {
    font-size:   $font_size;
    line-height: $cell_width;
    z-index:     1;
    overflow-x:  hidden;
    min-height:  100vh;
    @extend #{JX(font-family-sans-serif, "%")};
    @extend #{JX(margin-0, "%")};
}

// Commons
hr,
img,
iframe {
    border: 0 none;
}

img,
svg,
audio,
video,
canvas {
    vertical-align: middle;
}

sub,
sup,
progress {
    vertical-align: baseline;
}

:focus {
    outline: 0 none;
}

:disabled {
    @extend #{JX(cursor-not-allowed, "%")};
}

::selection {
    text-shadow: none;
}

script,
template,
[hidden],
[scoped],
audio:not([controls]) {
    @extend #{JX(display-none, "%")};
}

details {
    @extend #{JX(display-block, "%")};
}

summary {
    @extend #{JX(display-list-item, "%")};
    @extend #{JX(cursor-pointer, "%")};
}

figure {
    @extend #{JX(margin-top-0, "%")}, #{JX(margin-left-0, "%")}, #{JX(margin-right-0, "%")};
    @extend #{JX(margin-bottom-half, "%")};
}

hr {
    height:           1px;
    border-top-width: 1px;
    border-top-style: solid;
    @extend #{JX(display-block, "%")};
    @extend #{JX(padding-0, "%")};
    @extend #{JX(margin-top-0, "%")}, #{JX(margin-bottom-half, "%")};
}

ul,
ol {
    @extend #{JX(margin-top-0, "%")};
    @extend #{JX(padding-left-half, "%")};

    ul,
    ol {
        @extend #{JX(margin-bottom-0, "%")};
    }

    ul {
        list-style-type: circle;
    }

    ol {
        list-style-type: lower-latin;
    }
}

li {
    list-style-position: outside;
}

dl {
    @extend #{JX(margin-top-0, "%")};
}

dt {
    font-weight: bold;
}

dd {
    @extend #{JX(margin-left-0, "%")}, #{JX(margin-bottom-half, "%")};
}

// Typography
#{JX(heading, "%")} {
    @extend #{JX(margin-top-0, "%")}, #{JX(margin-bottom-half, "%")};
    @extend #{JX(child-fit, "%")};
}

h1 {
    @extend #{JX(heading, "%")};
}

h2 {
    @extend #{JX(heading, "%")};
}

h3 {
    @extend #{JX(heading, "%")};
}

h4 {
    @extend #{JX(heading, "%")};
}

h5 {
    @extend #{JX(heading, "%")};
}

h6 {
    @extend #{JX(heading, "%")};
}

// Text semantics
p {
    text-align: justify;
    @extend #{JX(margin-top-0, "%")}, #{JX(margin-bottom-half, "%")};
}

b,
strong {
    font-weight: bolder;
}

a {
    text-decoration: underline;
    @extend #{JX(cursor-pointer, "%")};

    &:hover,
    &:active {
        text-decoration: none;
    }

    &[target="_blank"]:before {
        font-size: 90%;
        content:   "\e164\00A0";
    }
}

q {
    &,
    &:lang(fr),
    &:lang(ru) {
        quotes: "\00ab" "\00bb";
    }

    &:lang(en) {
        quotes: "\201c" "\201d";
    }

    q,
    &:lang(de) {
        quotes: "\201e" "\201c";
    }
}

blockquote {
    @extend #{JX(margin-bottom-half, "%")};
}

mark,
code {
    padding: 0 0.5em;
}

acronym {
    @extend #{JX(cursor-help, "%")};
}

abbr {
    font-variant:   small-caps;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &[title] {
        text-decoration: underline dotted;
        border-bottom:   none;
        @extend #{JX(cursor-help, "%")};
    }
}

address {
    font-style:  normal;
    line-height: inherit;
    @extend #{JX(margin-bottom-half, "%")};
}

pre,
kbd,
code,
samp {
    @extend #{JX(font-family-monospace, "%")};
}

code {
    word-wrap: break-word;
}

pre {
    overflow: auto;
    @extend #{JX(display-block, "%")};
    @extend #{JX(margin-top-0, "%")}, #{JX(margin-bottom-half, "%")};

    code {
        color:      inherit;
        word-break: normal;
    }
}

kbd {
    padding: 0.5em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size:   75%;
    line-height: 0;
    position:    relative;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

time {
    white-space: nowrap;
}

// Tables
table {
    caption-side:    bottom;
    border-collapse: collapse;
}

caption {
    @extend #{JX(padding-top-half, "%")}, #{JX(padding-bottom-half, "%")};
    text-align: left;
}

th {
    text-align: inherit;
}

tr,
td,
th,
thead,
tbody,
tfoot {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

// Forms
legend,
fieldset,
[type="radio"],
[type="checkbox"] {
    @extend #{JX(padding-0, "%")};
}

fieldset {
    min-width: 0;
    border:    0 none;
    @extend #{JX(margin-0, "%")};
}

legend {
    @extend #{JX(display-table, "%")};
    line-height:   inherit;
    max-width:     100%;
    margin-bottom: -0.5em;
    white-space:   normal;
    color:         inherit;
}

form {
    @extend #{JX(margin-bottom-0, "%")};
}

label,
output {
    @extend #{JX(display-inline-block, "%")};
}

input,
button,
select,
optgroup,
textarea {
    @extend #{JX(font-family-sans-serif, "%")};
    @extend #{JX(margin-0, "%")};
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

textarea {
    overflow: auto;
    resize:   vertical;
}

button,
select,
label[for],
[role="button"],
[type="file"],
[type="radio"],
[type="reset"],
[type="range"],
[type="image"],
[type="color"],
[type="button"],
[type="submit"],
[type="checkbox"] {
    @extend #{JX(cursor-pointer, "%")};
}
