//**********************************************************
// Reset
//----------------------------------------------------------
//
//**********************************************************

// Root
*,
:before,
:after,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: $cell;
    height: 100vh;
}

body {
    font-size: 0.8rem; // TODO:
    line-height: $grid_cell_height;
    min-height: 100vh;
    overflow-x: hidden;
    z-index: $zindex_body;
    @extend %margin-0;
}

body,
input,
select,
optgroup,
textarea {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
}

pre,
kbd,
code,
samp {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    direction: ltr;
}

// Commons
hr,
img,
iframe {
    border: 0 none;
}

img,
svg,
audio,
video,
canvas {
    vertical-align: middle;
}

sub,
sup,
progress {
    vertical-align: baseline;
}

:focus {
    outline: 0 none;
}

::selection {
    text-shadow: none;
}

:disabled {
    @extend %cursor-not-allowed;
}

script,
template,
[hidden],
[scoped],
audio:not([controls]) {
    display: none;
}

details {
    display: block;
}

summary {
    display: list-item;
    @extend %cursor-pointer;
}

figure {
    @extend %margin-bottom-half;
}

hr {
    display: block;
    height: 1px;
    border-top-width: 1px;
    border-top-style: solid;
    @extend %padding-0;
    @extend %margin-top-0;
    @extend %margin-bottom-half;
}

ul,
ol {
    @extend %margin-top-0;

    ul,
    ol {
        @extend %margin-bottom-0;
    }

    ul {
        list-style-type: toggle(circle, square, box);
    }

    ol {
        list-style-type: lower-latin;
    }

    li {
        list-style-position: outside;
    }
}

dl {
    @extend %margin-top-0;

    dt {
        font-weight: bold;
    }

    dd {
        @extend %margin-left-0;
        @extend %margin-bottom-half;
    }
}

// Text semantics
p {
    text-align: justify;
    text-indent: $grid_gap_half;
    @extend %margin-top-0;
    @extend %margin-bottom-half;
}

b,
strong {
    font-weight: bolder;
}

a {
    background-color: transparent;
    text-decoration: underline;
    @extend %cursor-pointer;

    &:link,
        //&:visited,
    &:hover,
    &:active {
        text-decoration: none;
    }

    &[target="_blank"]:before {
        font-size: 90%;
        content: "\e164\00A0";
    }
}

q {
    &,
    &:lang(fr),
    &:lang(ru) {
        quotes: "\00ab""\00bb";
    }

    &:lang(en) {
        quotes: "\201c""\201d";
    }

    q,
    &:lang(de) {
        quotes: "\201e""\201c";
    }
}

blockquote {
    @extend %margin-bottom-half;
}

mark,
code {
    padding: 0 0.5em;
}

acronym,
abbr[title] {
    @extend %cursor-help;
}

abbr {
    font-variant: small-caps;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    &[title] {
        border-bottom: none;
        text-decoration: underline dotted;
    }
}

address {
    @extend %margin-bottom-half;
    font-style: normal;
    line-height: inherit;
}

pre {
    display: block;
    @extend %margin-top-0;
    @extend %margin-bottom-half;
    overflow: auto;

    code {
        color: inherit;
        word-break: normal;
    }
}

code {
    word-wrap: break-word;
}

kbd {
    padding: 0.5em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

time {
    white-space: nowrap;
}

// Tables
table {
    caption-side: bottom;
    border-collapse: collapse;

    caption {
        @extend %padding-top-half;
        @extend %padding-bottom-half;
        text-align: left;
    }

    th {
        text-align: inherit;
    }

    tr,
    td,
    th,
    thead,
    tbody,
    tfoot {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
}

// Forms
legend,
fieldset,
[type="radio"],
[type="checkbox"] {
    @extend %padding-0;
}

fieldset {
    min-width: 0;
    @extend %margin-0;
    border: 0 none;
}

legend {
    line-height: inherit;
    color: inherit;
    display: table;
    max-width: 100%;
    margin-bottom: -0.5em;
    white-space: normal;
}

form {
    @extend %margin-bottom-0;
}

label,
output {
    display: inline-block;
}

input,
button,
select,
optgroup,
textarea {
    @extend %margin-0;
    font-family: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

textarea {
    overflow: auto;
    resize: vertical;
}

button,
select,
label[for],
[role="button"],
[type="file"],
[type="radio"],
[type="reset"],
[type="range"],
[type="image"],
[type="color"],
[type="button"],
[type="submit"],
[type="checkbox"] {
    @extend %cursor-pointer;
}
