//**********************************************************
// Variables
//----------------------------------------------------------
//
//**********************************************************
//@use "functions";
@use "sass:math";

$prefix:                "jtx-" !default;

// Root
$unit:                  1.25rem !default; // 20px
$px:                    .0625rem !default;
$rate_horizontal:       .8 !default;
$rate_vertical:         .8 !default;

// Grid
$grid_column:           12;
$grid_width:            $unit * 60; // 1200px
$grid_gap:              $unit * 2; // 40px
$grid_col_width:        math.div($grid_width, $grid_column);
$grid_cell_width:       math.div($grid_width - ($grid_column - 1) * $grid_gap, $grid_column);
$grid_cell_height:      $unit;

// Layout
$layout_gap:            $unit * 2; // 40px
$layout_gaps:           $layout_gap * 2;
$layout_width:          $grid_width + $layout_gaps;
$layout_width_min:      $unit * 18; // 360px
$layout_rate:           math.div(100vw, $layout_width);

// Z-index
$zindex_body:           1;
$zindex_app:            10;
$zindex_main:           20;
$zindex_content:        30;
$zindex_sidebar:        40;
$zindex_header:         50;
$zindex_footer:         60;
$zindex_dropdown:       1000;
$zindex_sticky:         2000;
$zindex_fixed:          3000;
$zindex_modal-backdrop: 4000;
$zindex_offcanvas:      5000;
$zindex_modal:          6000;
$zindex_popover:        7000;
$zindex_tooltip:        8000;
$zindex_debug:          10000;

// Breakpoints
$list_breakpoints:      getListBreakpoints();
