//**********************************************************
// Variables
//----------------------------------------------------------
//
//**********************************************************
@use "sass:math";
@use "sass:meta";

// Prefix
$prefix:                    "" !default;

// Root
$root_cell:                 20px !default; // Respond 1rem
$font-size:                 16px !default;
$rate_horizontal:           0.8 !default;
$rate_vertical:             0.8 !default;

// Grid
$grid_column:               12 !default;
$grid_width:                1200px !default;
$grid_gap:                  40px !default;

// Layout
$layout_width_min:          360px !default;

// Z-index
$zindex_dropdown:           1000 !default;
$zindex_sticky:             1100 !default;
$zindex_fixed:              1200 !default;
$zindex_offcanvas_backdrop: 1300 !default;
$zindex_offcanvas:          1400 !default;
$zindex_modal_backdrop:     1500 !default;
$zindex_modal:              1600 !default;
$zindex_popover:            1700 !default;
$zindex_tooltip:            1800 !default;
$zindex_toast:              1900 !default;
$zindex_debug:              2000 !default;

// Under The Hood
//----------------------------------------------------------
//
//**********************************************************

// Root
$cell:                      1rem;
$px:                        math.div($cell, StripUnit($root_cell));
$font-size:                 PxToRem($font-size);

// Grid
$grid_width:                PxToRem($grid_width);
$grid_gap:                  PxToRem($grid_gap);
$grid_gap_half:             math.div($grid_gap, 2);
$grid_col_width:            math.div($grid_width, $grid_column);

// Layout
$layout_width:              $grid_width + $grid_gap * 2;
$layout_rate:               math.div(100vw, $layout_width);

// Breakpoints
$list_breakpoints:          GetListBreakpoints();
$list_breakpoints_buffer:   [];

// Commons
$list_sides:                top, bottom, left, right;
$list_cursors:              default, pointer, help, not-allowed;
$list_displays:             none, block, inline-block, table, flex, grid, inline-grid, list-item;

// Fonts
$font_family_sans_serif:    Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans",
                            "Droid Sans", "Helvetica Neue", sans-serif !default;
$font_family_monospace:     SFMono-Regular, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace !default;

:root {
    --px:                     #{$px};
    --bp:                     #{$list_breakpoints};

    // Fonts
    --font-family-sans-serif: #{meta.inspect($font_family_sans_serif)};
    --font-family-monospace:  #{meta.inspect($font_family_monospace)};
}
