//**********************************************************
// Variables
//----------------------------------------------------------
//
//**********************************************************
@use "sass:math";

$version:           "0.0.0";

$media:             "../media";
$fonts:             "../fonts";

$font-family:       "sans-serif";

$unit:              1em; // 16px
$unit_half:         math.round(math.div($unit, 2));
$px:                1px;

$layout_column:     12;
$layout_width:      $layout_column * $unit; // + (@layout_column - 1)*@layout_gap

@debug $layout_width;

/*
@layout_gap:            @unit*2;
@layout_gap_half:       round(@layout_gap/2);
@layout_column_width:   @layout_gap*6; // without gap
@layout_column:         12;

@layout_width:          @layout_column*@layout_column_width;// + (@layout_column - 1)*@layout_gap
@layout_width_min:      320px;
@header_height:         @unit*6;
@footer_height:         @unit*8;
*/

//*** Layout ***//
$layout-columns:    12;
$layout-width:      1240px;
$layout-width-min:  320px;
$layout-gap:        20px;

$grid-width:        120px;

$header-height:     80px;
$footer-height:     auto;
$main-height:       220px;

$navbar-width:      260px;
$navbar-width-min:  80px;

$sidebar-width:     0;
$sidebar-width-min: 0;

// Layout
$html-font-size:    1em; // 16px

