//**********************************************************
// Debug
//----------------------------------------------------------
//
//**********************************************************

// No semantic
address nav,
    //a a,
    //a label,
    //a button,
    //label a,
    //label label,
    //button a,
    //button label,
    //button button
:where(a, label, button) :where(a, label, button) {
    outline: 5px solid red;
}

// Layout
#{JX(debug-layout)} {
    &::before,
    &::after {
        @extend %display-block;
        @extend %position-fixed;
        z-index: $zindex_debug;
        top:     0;
        bottom:  0;
        content: "";
    }

    &::before {
        $a:         calc(100vw - $container_width);
        $w:         $container_rate * $grid_cell_width * 1vw;
        $d:         $container_rate * $grid_gap * 1vw;
        width:      1px; //$a;
        //background-color: rgba(255, 0, 0, .5);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3),
                    $w + $d 0 0 0 rgba(0, 0, 0, 0.3),
                    ($w + $d) * 2 0 0 0 rgba(0, 0, 0, 0.3),
                    ($w + $d) * 3 0 0 0 rgba(0, 0, 0, 0.3);
    }
}

// Sticker
#{JX(debug-sticker)} {
    &::before,
    &::after {
        @extend %display-block;
        @extend %position-fixed;
        font-size:   12px;
        line-height: 40px;
        z-index:     $zindex_debug + 1;
        top:         auto;
        bottom:      0;
        min-width:   80px;
        height:      40px;
        text-align:  center;
        color:       white;
    }

    &::before {
        background-color: rgba(59, 59, 255, 0.6);
        left:             auto;
        right:            0;

        @media only screen {
            @media (min-width: GetBreakpoint($grid_column) + 1) {
                content: ">= #{$grid_column} bp";
            }

            @for $i from $grid_column to 1 {
                @media (max-width: GetBreakpoint($i)) {
                    content: "#{$i - 1} - #{$i} bp";
                }
            }
        }
    }

    &::after {
        background-color: rgba(0, 182, 141, 0.6);
        left:             0;
        right:            auto;

        @media only screen {
            @media (max-width: 1in) {
                content: "<= 1'";
            }

            @for $i from 1 through 23 {
                $j: $i + 0.5;
                $k: $i + 1;

                @media (min-width: #{$i}in) and (max-width: #{$j}in) {
                    content: "#{$i}' - #{$j}'";
                }

                @media (min-width: #{$j}in) and (max-width: #{$k}in) {
                    content: "#{$j}' - #{$k}'";
                }
            }
        }
    }
}
